<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://camel.apache.org/schema/spring http://camel.apache.org/schema/spring/camel-spring.xsd">


    <bean id="myGreeter" class="emg.test.camelinaction.cp2.spring.impl.EnglishGreeter"/>
    <bean id="greeterBean" class="emg.test.camelinaction.cp2.spring.GreetMeBean">
        <property name="greeter" ref="myGreeter"/>
    </bean>

    <!-- camel xml dsl -->
    <bean id="jms" class="org.apache.camel.component.jms.JmsComponent">
        <property name="connectionFactory">
            <bean class="org.apache.activemq.ActiveMQConnectionFactory">
                <property name="brokerURL" value="vm://localhost"/>
            </bean>
        </property>
    </bean>
    <camelContext xmlns="http://camel.apache.org/schema/spring" id="camel">
        <!--<routeBuilder ref="ClaseRouteBuilder"/>-->
        <route id="file2queue">
            <from uri="file:data/inbox?noop=true"/>
            <to uri="jms:queue:incomingFiles"/>
        </route>
        <route id="queue2file">
            <from uri="jms:queue:incomingFiles"/>
            <process ref="simpleXmlRouteProcessor"/>
            <to uri="file:data/outbox"/>
        </route>
    </camelContext>
    <bean id="simpleXmlRouteProcessor" class="emg.test.camelinaction.cp2.spring.SimpleXmlRouteProcessor"/>
</beans>